.pound-container {
    display: flex;
    flex-direction: column;
}

.pound-text-details {
    
    .pound-profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 180px;
        margin: 10px;
    }
    
    .pound-text-input {
        width: 400px;
        height: 60px;
        border-radius: 7px;
    }    
}


.pound-giff-btn {

}

.pound-icon-img {

}

.pound-btns {
    
}