.left-nav-profile-container {
    width: 20vw;
}

.updateMenu-open {
    display: none;
}
.new-pound-open {
    display: none;
  }

//PROFILE SECTION
.left-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 10px;
    margin-right: 500px;

    .left-nav-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 55px;

            .profile-img-left-nav {
                width: 150px;
                height:150px;
                border-radius: 180px;
            }

        .dog-bones-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

                .dog-bones-image {
                    transform: rotate(20deg);
                }

                .dog-bones-number {
                    color: $red;
                    font-weight: bolder;
                }

            }
    }

    .left-nav-username {
        font-weight: bolder;
        margin: 10px;
    }

    .new-pound {
        border: none;
        background-color: $blue;
        color: white;
        width: 150px;
        height:40px;
        border-radius: 8px;
    }

    .new-pound:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .updateMenu {
        border: 1px solid grey;
        border-radius: 8px;
        margin:10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

            .update-input-field {
                border: 2px solid $blue;
                border-radius: 6px;
                margin: 5px;
                height: 25px;
            }

            .update-user-btn-update {
                border: none;
                color:white;
                background-color: $blue;
                width: 125px;
                height:30px;
                border-radius: 8px;
            }

            .update-user-btn-cancel {  
                border: none; 
                color: white;
                background-color: $red;
                width: 125px;
                height:30px;
                border-radius: 8px;
            }
    }
}

    //HOME SECTION
    .left-nav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 5px;
        left: 10px;
        padding-right: 500px;
    
        .left-nav-div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
                .profile-img-left-nav {
                    width: 150px;
                    height:150px;
                    border-radius: 180px;
                }
                .left-nav-username {
                    font-weight: bolder;
                    margin: 10px;
                }

                .left-nav-user-icons {

                }


            }
         }

         .left-nav-text {
            color: $red;
            font-weight: bolder;
            font-size: 20px;
            margin:5px;
         }

         .plus-symbol-image {
             margin-left: 25px;
         }
         
    //MEDIA QUERIES FOR SECTIONS ON HOME/PROFILE
    @media(max-width: 1585px) {
        .profile-img-left-nav {
            width: 100px;
            height:100px;
            border-radius: 180px;
        }
    
        .left-nav-username {
            font-weight: bolder;
            margin: 6px;
        }

        .left-nav-user-icons {
            width: 60px;
            height: 60px;
        }
    
        .left-nav-text {
            color: $red;
            font-weight: bolder;
            font-size: 14px;
            margin:5px;
        }

    }



