.signin-nav-container {
    @include flex(space-between);

    .signin-nav-right {
        @include flex(center);
    }

    background-color: $red;
}

.nav-main-logo {
    margin-left: 50px;
    padding:20px;
}

.signin-nav-inputs-container {
    margin-right: 50px;
}

.signin-nav-inputs {
   margin: 15px;
   border: solid 3px $blue;
   border-radius: 8px; 
   height: 30px;
   width: 240px;
}

.signin-nav-btn {
    border: none;
    border-radius: 6px;
    color: white;
    background-color: $blue;
    width: 100px;
    height: 40px;
    margin:5px;
}

.signin-nav-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}




//Line 68

.nav-container {
    @include flex(space-between);
    background-color: $red;
    .nav-main-logo {
        margin-left: 50px;
        padding:20px;
    }

    .nav-search {
        background-color: white;
        border: 2px solid $yellow; 
        border-radius: 14px;
        width: 500px;

        .nav-search-logo {
            position: relative;
            top: 4px;
            width: 20px;
            height: 20px;
            margin-top: 3px;
        }

        .nav-search-text {
            border: none;
            margin-bottom: 3px;
            outline: none;
        }       
    }

    .nav-logout-btn {
        position: relative;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: $blue;
        width: 150px;
        height: 40px;
        right: 25px;
    }

    .nav-logout-btn:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}