.profile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 470px;
        padding-left: 470px;
        padding-bottom: 10px;
        border-top: 50px solid black;
        border-bottom: 2px solid grey;
        width: 5vw;
        border-right: 2px solid grey;
        border-left: 2px solid grey;
        
        .profile-text {
            color: $blue;
            position: absolute;
            top: 0;
            font-weight: bolder;
            font-size: 20px;
            margin-top: 10px;

        }
}