//HOME

.right-home-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 5px;
    right:10px;

    
    .right-nav-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .home-right-nav-welcome-text {
            font-weight: bolder;
            font-size: 30px;
            position: absolute;
            right:15px;
            width: 10em;
            text-align: center;
        }
    }
}

//PROFILE 

.right-nav-languages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    .right-nav-favorite-programing-languages {
        background-color: $red;
        padding: 15px;
        color: white;
        border-radius: 8px;
        font-weight: bolder;
        font-size: 30px;
        position: absolute;
        right:15px;
        width: 10em;
        text-align: center;
    }

    .red-box-arrow {
        position: absolute;
        right: 137px;
        top: 160px;
        background-color: $red;
        width: 28px;
        height: 28px;
        transform: rotate(45deg);
    }

    .right-nav-profile-language-icon {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .right-nav-images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px;
        right: 105px;
    }
}


@media(max-width: 1585px) {
    .home-right-nav-welcome-text  {
        font-weight: bolder;
        font-size: 25px;
        position: absolute;
        right:35px;
        width: 7em;
        text-align: center;
    }
}